h1 {
  margin: 0;
  font-family: Arial, sans-serif;
  color: rgba(96, 160, 239, 1);
  margin-top: 80px;
  font-size: 30px; 
  text-align: center;
}

h2 {
  font-family: Arial, sans-serif; 
  text-align: center;
  font-size: 20px;
  color: black;
  margin-top: 90px;
}

body{
  color: white;
  padding-bottom: 80px;
}

.navigationButton {
  background-color: rgba(96, 160, 239, 1);
  border-color: rgba(96, 160, 239, 1);
  color: white;
  width: 550px;
  border: 0px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 20px;
  margin-left: 90px;
  height: 90px;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 13px;
  transition: 0.6s;
  padding-left: 20px;
  padding-right: 20px;
}

.rightButton {
  border-radius: 20px;
  background-color: rgba(96, 160, 239, 1);
  border-color: rgba(96, 160, 239, 1);
  color: white;
  margin-left: 1100px;
  width: 180px;
  border: 0px;
  font-size: large;
  font-family: 'Lato', sans-serif;
  transition: 0.6s;
}

.rightButton:hover {
  background-color: white;
  color: rgba(96, 160, 239, 1);
  border-radius: 25px;
  cursor: pointer;
}

.navbar {
  background-color: #a3c9f7;
  color: white;
  font-size: 20px;
  transition: 0.6s;
}

.nav-item:hover {
  background-color: rgba(96, 160, 239, 1);
  border-radius: 20px;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.account-name {
  background-color: #60a0ef;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}

.footer {
  background-color: #a3c9f7;
  color: white;
  text-align: center;
  padding: 15px 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  justify-content: end;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 8px;
}

a:hover {
  color: rgba(96, 160, 239, 1);
}

@media screen and (max-width: 800px){
  body{ 
    padding-bottom: 20vh;
    width: 100vw;
  }
  footer{
    height: 20vh;
  }
  h1 {
    text-align: center;
  }

  h2{
    padding-left: 5vw;
    padding-right: 5vw;
  }

}



