body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #a3c9f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #c2d1e0;
}

.account-name {
  background-color: #60a0ef;
  padding: 15px 0;
  border-radius: 30px;
  text-decoration: none;
  border: none;
}

.account-name a:hover {
  background-color: transparent; /* Keeps the background the same when hovered */
  color: white; /* Maintains the text color */
}

.footer {
  background-color: #a3c9f7;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  /* Additional styling here */
}

.dropdown-menu {
  background-color: #a3c9f7; /* Light blue background to match the theme */
}

.profile-toggle {
  background: none;
  border: none;
  cursor: pointer;
  /* Additional styling here */
}

.task {
  background-color: #a3c9f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.task-title {
  font-size: 1em;
}

.task-time {
  font-size: 0.8em;
  color: #333;
  /* This is aligned to the top right by the flex properties on the parent */
}

.status-complete {
  font-weight: bold;
  font-size: 0.8em;
  color: #4caf50;
  /* This will be pushed to the bottom of the container by the mt-auto class */
}

.task-status-2 {
  font-size: 0.8em;
  color: #de2626;
  font-weight: bold;
  /* This will be pushed to the bottom of the container by the mt-auto class */
}

.task-status-in-progress {
  font-weight: bold;
}
.status-in-progress {
  font-weight: bold;
  font-size: 0.8em;
  color: #d51717;
}

.technician-greeting {
  background-color: #f8f9fa; /* Background color */
  padding: 20px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text horizontally */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border: 1px solid #333; /* Border around the box */
  box-sizing: border-box; /* Makes sure padding doesn't affect the overall width */
  margin-top: 35px;
}

.status-arrived {
  color: green;
}

.left-side-scroll {
  max-height: 100vh;
  overflow-y: auto;
}

html,
body {
  height: 100%; /* Make sure the html and body elements take up the full height */
  margin: 0; /* Reset default margin */
}

body {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children elements vertically */
  /* Minimum height of 100% of the viewport */
}

.main-container {
  flex: 1; /* Flex grow to absorb extra space */
}

.navbar .dropdown-menu .dropdown-item:hover {
  color: rgb(0, 0, 0);
  background-color: #faf2de; /* Adjusted to ensure it is the intended light orange */
}
