.navbar {
    background-color: rgba(215, 233, 255, 1);
    color: white;
    font-size: 20px;
    transition: 0.6s;
}

.navbar a.icon{
    display: none;
  }

  .navbar-links a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

.nav-item:hover {
    background-color: rgba(96, 160, 239, 1);
    border-radius: 20px;
}

.rightButton {
    border-radius: 20px;
    background-color: rgba(96, 160, 239, 1);
    border-color: rgba(96, 160, 239, 1);
    color: white;
    margin-left: 1100px;
    width: 180px;
    border: 0px;
    font-size: large;
    font-family: 'Lato', sans-serif;
    transition: 0.6s;
}

.rightButton:hover {
    background-color: white;
    color: rgba(96, 160, 239, 1);
    border-radius: 25px;
    cursor: pointer;
}

.upperContainer {
    width: 100%;
    display: flex;
    background-color: rgba(215, 233, 255, 1);
    color: white;
    font-family: 'Inria Serif', serif;
    font-size: 70px;
    align-items: center;
    height: 600px;
    margin-bottom: 0px;
}

.upperContainerInfoWithLink {
    width: 50%;
    display: flex;
    flex-direction: column;
}

p {
    margin-left: 60px;
}

img {
    width: 600px;
}

.navigationButton {
    background-color: rgba(96, 160, 239, 1);
    border-color: rgba(96, 160, 239, 1);
    color: white;
    width: 550px;
    border: 0px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    margin-left: 90px;
    height: 90px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 13px;
    transition: 0.6s;
    padding-left: 20px;
    padding-right: 20px;
}



.navigationButton:hover {
    cursor: pointer;
    background-color: white;
    color: rgba(96, 160, 239, 1);
    border-radius: 25px;

}

#getStarted {

    background-color: rgba(96, 160, 239, 1);
    border-color: rgba(96, 160, 239, 1);
    color: white;
    width: 200px;
    border: 0px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    margin-left: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 1px;
    transition: 0.6s;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;

}



#getStarted:hover {

    cursor: pointer;
    background-color: white;
    color: rgba(96, 160, 239, 1);
    border-radius: 25px;


}

#services {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inria Serif', serif;
    color: rgba(150, 195, 250, 1);
    margin-top: 80px;
    font-size: 60px;
    margin-bottom: 70px;
}

h2 {
    color: rgba(150, 195, 250, 1);
    font-family: 'Inria Serif', serif;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 15px;
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
}


.insideInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 35px;
    overflow: hidden;
    max-height: 40em;
    max-width: 25em;

}

.footer {
    background-color: rgba(215, 233, 255, 1);


}

.content {
    background-color: rgba(215, 233, 255, 1);
    color: white;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    justify-content: end;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 8px;
}

a:hover {
    color: rgba(96, 160, 239, 1);
}

.footerInfo {

    display: flex;
    justify-content: space-around;
    padding: 15px;


}
/*
@media (min-width: 100px){
    .upperContainerInfoWithLink {
        font-size: 40px;

        
    }

    .upperContainerInfo {
        font-size: 40px;
        width: 140%;
        margin-left: 10px;

    }
}
*/

@media only screen and (min-width: 845px) and (max-width: 889px) {

    .upperContainerInfoWithLink {
        font-size: 50px;
    }




}


@media only screen and (max-width: 844px) {

    .upperContainer {

        height: 100%;

    }

    .navbar a.icon{
        display: inline;
      }
    
      .account-name{
        display: none;
      }
    
      .navbar-links{
        display: none;
        justify-content: right;
      }
      .navbar-link{    
        justify-content: left;
      }
        
      .navbar {
        right: 0;
        top: 0;
        overflow: hidden;
        position: relative;
        
      }
    
      .navbar a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;    
      } 
      
    
    

    .footerInfo a{
        font-size: 1rem;
    }

    footer{
        height: 20vh;
        bottom: 0px;
    }

    .upperContainerInfo {
        font-size: 30px;
        width: 140%;
        margin-left: 15px;

    }

    img {

        display: flex;
        justify-content: flex-end;
        margin-left: 50px;
        width: 90%;
        padding-bottom: 100px;


    }

    #services {

        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 0px;


    }


    .upperContainerInfoWithLink {

        display: flex;
        flex-direction: column;
        padding-bottom: 0.1px;
        margin-left: 10px;


    }

    #getStarted {
        font-size: 16px;
        margin-left: 5px;
        width: 130px;
        height: 40px;

    }

    h2 {

        margin-left: 80px;

    }


    .insideInfo {

        justify-content: center;
        width: 100%;
        margin-left: 1px;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
        padding: 0%;
        margin-right: 0%;
        margin-bottom: 30px;
    }

    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0%;
        margin: 0%;
        justify-content: center;
        align-items: center;
    }

    h2 {

        margin-left: 180px;

    }

}


@media only screen and (min-width: 844px) and (max-width: 1095px) {

    .rightButton {

        margin-left: 700px;

    }

}


@media only screen and (min-width: 890px) and (max-width: 991px) {


    .rightButton {

        margin-left: 700px;

    }

    .upperContainerInfoWithLink {

        font-size: 50px;
        margin-bottom: 10px;

    }

}

@media only screen and (min-width: 992px) and (max-width: 1092px) {

    .rightButton {

        margin-left: 620px;

    }

    .upperContainerInfoWithLink {

        font-size: 50px;
        margin-bottom: 10px;

    }

}


@media only screen and (min-width: 1096px) and (max-width: 1260px) {





    .rightButton {

        margin-left: 750px;

    }

}
