* {
    padding: 0%;
}

.container {
    display: flex;
    margin: auto;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 150px;
}



.form h2 {
    font-family: 'Inter Tight', sans-serif;
    color: rgba(96, 160, 239, 1);
    margin-top: 80px;
    font-size: 40px;
    margin-bottom: 60px;
}

.inputingText {
    display: flex;
    height: 30PX;
    margin: 20px;
    width: 350px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgba(96, 160, 239, 1);
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 15px;
}


#lowerInput {
    margin-bottom: 40px;
}

.buttons {
    background-color: rgba(96, 160, 239, 1);
    border-radius: 20px;
    padding: 5px;
    color: white;
    border: none;
    height: 40px;
    width: 180px;
    margin: 7px;
    font-size: 16px;
    transition: 0.5s;
}

.buttons:hover {
    background-color: rgb(39, 112, 201);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    transform: translateY(-5px);
    cursor: pointer;

}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;

}

.side img {

    width: 870px;
    height: 870px;

}

.side h2 {
    position: absolute;
    font-family: 'Inter Tight', sans-serif;
    
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 60px;
    /* Position the text absolutely within the container */
    font-size: 40px;
    top: 50%;
    /* Adjust the top position to vertically center the text */

    left: 75%;
    /* Adjust the left position to horizontally center the text */

    transform: translate(-50%, -50%);
    /* Center the text both vertically and horizontally */


}

.Image2{
    display: none;
}

.side a {

    text-decoration: none;
    margin-left: 120px;
    background-color: rgba(96, 160, 239, 1);
    border-radius: 20px;
    color: white;
    transition: 0.5s;
    width: 200px;
    padding: 0px;

    position: absolute;
    top: 70%; 
    
    height: 30px;
    text-align: center;  
}

.side a:hover {
    color: rgb(255, 255, 255);
    border-radius: 25px;
    transform: translateY(-5px);
    cursor: pointer;
    background-color: rgb(47, 123, 217);
}

@media screen and (max-width: 811px){
    .Image{
        display: none;
    }
    .container{
        width: 100%;
        text-align: center;
    }
    .Image2{
        display: inline;
        width: 50%;
        margin-left: 60vw;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top:0px;
        
    }
    .form{
        width: 100%;
        margin-top: 10vh;
        margin-bottom: 20vh;
        
    }
    .side{
        width: 100%;       
    }
    .side h2 {
        line-height: 1rem;
        width: 80%;
        /* Position the text absolutely within the container */
        font-size: 1.0rem;
        top: 60vh;
        /* Adjust the top position to vertically center the text */    
        left: 50%;
        /* Adjust the left position to horizontally center the text */    
        transform: translate(-50%, -50%);
        /* Center the text both vertically and horizontally */
        color: rgb(39, 112, 201);
        margin-top: 40vh;
    
    }
    .side a{
        margin-left: 0vw;
        margin-right: 100vw;
        margin-top: 35vh;
        height: 40px;
        width: 180px;
        padding: 5px;
        
    } 

}