body {
    background-color: #CEE2FF;
    background-image: url('PaymentImage.png');
}

.payment-option {
    background-color: white;
    border-radius: 25px;
    padding: 25px 50px;
}

.order-summary {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

img {
    padding-left: 15px;
    height: 38px;
}

#payment-info {
    background-color: red;
}

.btn {
    background-color: rgba(96, 160, 239, 1);
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    color: white;
    border: none;
    height: 50px;
    font-size: 16px;
}

.list-group {
    border-radius: 25px;
}

.list-group-item {
    background-color: #F2F2F2;
    border: none;
}

.order-title {
    color: #50ABFF;
}

.popup {
    width: calc(100vw - 1in);
    max-width: 800px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 10px solid #CEE2FF;
}

.openpopup {
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

#successPopup,
#failurePopup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 10px solid #CEE2FF;
}

#successPopup.openpopup,
#failurePopup.openpopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
