body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #a3c9f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #c2d1e0;
}

.account-name {
  background-color: #60a0ef;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}

.footer {
  background-color: #a3c9f7;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  /* Additional styling here */
}

.task-title {
  font-size: 1em;
}

.task-time {
  font-size: 0.8em;
  color: #333;
  /* This is aligned to the top right by the flex properties on the parent */
}

.task-status-complete {
  font-size: 0.8em;
  color: #4caf50;
  font-weight: bold;
  /* This will be pushed to the bottom of the container by the mt-auto class */
}

.task {
  background-color: #a3c9f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: medium;
  cursor: pointer;
}

.task-status-not-complete {
  font-size: 0.8em;
  color: #d51717;
}

.technician-greeting {
  background-color: #f8f9fa; /* Background color */
  padding: 20px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text horizontally */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border: 1px solid #333; /* Border around the box */
  box-sizing: border-box; /* Makes sure padding doesn't affect the overall width */
  margin-top: 35px;
}

.greeting-text {
  /* Add styles for greeting text */
}

.name-text {
  /* Add styles for name text */
}

.status-text {
  /* Add styles for status text */
}

.status-arrived {
  color: green;
}

.left-side-scroll {
  max-height: 100vh;
  overflow-y: auto;
}

html,
body {
  height: 100%; /* Make sure the html and body elements take up the full height */
  margin: 0; /* Reset default margin */
}

body {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children elements vertically */
  min-height: 100vh; /* Minimum height of 100% of the viewport */
}

.main-container {
  flex: 1; /* Flex grow to absorb extra space */
}

/* Adjust the container's right margin to push contents to the left */
.small.text-muted {
  margin-right: 15px; /* Adjust this value as needed */
}

#liveDate {
  margin-bottom: 20px; /* Adjust the value as needed */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the top margin as needed */
}

.btn-info:hover,
.btn-info.dropdown-toggle:hover {
  /* Example of changing background and text color on hover */
  background-color: #117a8b; /* Darker shade of the .btn-info color */
  color: #fff;
}

.popup {
  position: fixed;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the popup is above other content */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Ensure the overlay is below the popup but above other content */
}

.popup {
  position: fixed;
  width: 20%;
  height: 20%;

  background-color: #d2e3f9; /* Set the popup background color to match the task background */
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  border-radius: 20px;
}

.popup-close-btn {
  padding: 10px 15px; /* Adjust padding to ensure buttons are the same size */
  border: none;
  background-color: #8b8a81; /* Darker shade of the .btn-info color */
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.popup-open-btn {
  padding: 10px 15px; /* Adjust padding to ensure buttons are the same size */
  border: none;
  background-color: #0d6efd; /* Darker shade of the .btn-info color */
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
