/* Taken from ClientTracking.css */
/* Navbar Styling */
.navbar {
    background-color: #a3c9f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .navbar-links {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
  
  .navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  .account-name {
    background-color: #60a0ef;
    padding: 15px 0;
    border-radius: 30px;
    text-decoration: none;
    border: none;
  }
  
  .navbar a:hover {
    background-color: #c2d1e0;
  }

  /* Footer Styling */
  .footer {
    background-color: #a3c9f7;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  /* Provider Settings Styling */

  #settingsContainer{
    width: 100%;
  }

  #settingsContainerStyling{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #accountInfoSpace{
    margin-top: 3%;
  }

  #emailInput{
    display: flex;
    align-items: center;
    width: 100%;
  }

  #emailInput input[type="email"] {
    flex: 1;
    margin-right: 10px;
  }

  #passwordInput{
    display: flex;
    align-items: center;
    width: 100%;
  }

  #passwordInput input[type="password"] {
    flex: 1;
    margin-right: 10px;
  }

  .home-button button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.home-button button:hover {
    color: blue;
}