body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #a3c9f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #c2d1e0;
}

.account-name {
  background-color: #60a0ef;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}

.footer {
  background-color: #a3c9f7;
  color: white;
  text-align: center;
  padding: 15px 0;
  flex-shrink: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  /* Additional styling here */
}

.task-title {
  font-size: 20px;
  font-weight: bold;
}

.task-time {
  font-size: 0.8em;
  color: #210bb2;
}

.task-status-complete {
  font-size: 0.8em;
  color: #4caf50;
  font-weight: bold;
}

.task {
  background-color: #a3c9f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: medium;
  margin-bottom: 15px; 
}

.task-status-not-complete {
  font-size: 0.8em;
  color: #d51717;
}

.technician-greeting {
  background-color: #f8f9fa; /* Background color */
  padding: 20px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text horizontally */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border: 1px solid #333; /* Border around the box */
  box-sizing: border-box; /* Makes sure padding doesn't affect the overall width */
  margin-top: 35px;
}

.status-arrived {
  color: green;
}

.left-side-scroll {
  max-height: 100vh;
  overflow-y: auto;
}

html,
body {
  height: 100%; /* Make sure the html and body elements take up the full height */
  margin: 0; /* Reset default margin */
}

body {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children elements vertically */
  min-height: 100vh; /* Minimum height of 100% of the viewport */
}

.main-container {
  flex: 1 0; /* Flex grow to absorb extra space */
}
.appointments-container {
  flex: 1; /* Flex grow to absorb extra space */
}

/* Adjust the container's right margin to push contents to the left */
.small.text-muted {
  margin-right: 15px; /* Adjust this value as needed */
}

#liveDate {
  margin-bottom: 20px; /* Adjust the value as needed */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the top margin as needed */
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.label-button {
  border: 1px solid #000; /* Example: 1px solid black border */
  padding: 10px; /* Optional: Add some padding inside the border */
  display: inline-block; /* Makes the div wrap around the content */
  margin: 5px; /* Optional: Adds some space around the div */
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of items */
  justify-content: space-around; /* Distributes space around items */
  align-items: stretch; /* Aligns items vertically */
}
.card-custom {
  display: flex;
  flex-direction: column; /* Makes sure content in cards is laid out top to bottom */
  flex: 1; /* Allows the cards to grow and take equal space */
  margin: 10px; /* Adds space between cards */
}

.bg-a3c9f7 {
  background-color: #a3c9f7;
}

.appstatus {
  visibility: hidden;
  font-size: 0; /* Removes the space taken up by the text */
}

/* Display 'Not Complete' for n status */
.appstatus[data-status="n"]::before {
  content: 'Not Complete';
  color: red;
  visibility: visible;
  font-size: revert; /* Reset the font size */
}

/* Display 'Appointment Completed' for y status */
.appstatus[data-status="y"]::before {
  content: 'Appointment Completed';
  color: green;
  visibility: visible;
  font-size: revert;
}