body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #a3c9f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.navbar-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #c2d1e0;
}

.account-name {
  background-color: #60a0ef;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}

.footer {
  background-color: #a3c9f7;
  color: white;
  text-align: center;
  padding: 15px 0;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  /* Additional styling here */
}

.task-title {
  font-size: 20px;
  font-weight: bold;
}

.task-time {
  font-size: 0.8em;
  color: #210bb2;
}

.task-status-complete {
  font-size: 0.8em;
  color: #4caf50;
  font-weight: bold;
}

.task {
  background-color: #a3c9f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: medium;
  margin-bottom: 15px; 
}

.task-status-not-complete {
  font-size: 0.8em;
  color: #d51717;
}

.technician-greeting {
  background-color: #f8f9fa; /* Background color */
  padding: 20px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text horizontally */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border: 1px solid #333; /* Border around the box */
  box-sizing: border-box; /* Makes sure padding doesn't affect the overall width */
  margin-top: 35px;
}

.status-arrived {
  color: green;
}

.left-side-scroll {
  max-height: 100vh;
  overflow-y: auto;
}

html,
body {
  height: 100%; 
  margin: 0; 
}

body {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
}

.main-container {
  flex: 1 0; 
}
.appointments-container {
  flex: 1; 
}


.small.text-muted {
  margin-right: 15px; 
}

#liveDate {
  margin-bottom: 20px; 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.label-button {
  border: 1px solid #000;
  padding: 10px; 
  display: inline-block; 
  margin: 5px; 
}

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: stretch; 
}
.card-custom {
  display: flex;
  flex-direction: column; 
  flex: 1; 
  margin: 10px; 
}

.bg-a3c9f7 {
  background-color: #a3c9f7;
}

.appstatus {
  visibility: hidden;
  font-size: 0; 
}


.appstatus[data-status="n"]::before {
  content: 'Not Complete';
  color: red;
  visibility: visible;
  font-size: revert; 
}


.appstatus[data-status="y"]::before {
  content: 'Appointment Completed';
  color: green;
  visibility: visible;
  font-size: revert;
}