.fullScreen {
    width: max-content;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    height: 650px;
}

.container {
    width: 100vw;
    justify-content: center;
    margin-bottom: 4vw;
}

.formHalf {
    width: 50%;
}

.imagePool {
    width: 50%;
}

h1 {
    color: rgba(96, 160, 239, 1);
    margin-top: 5vh;

}

label {
    margin-top: 60px;
    color: rgba(96, 160, 239, 1);
    font-size: 1.4375rem;
}

input {
    cursor: pointer;
    margin-top: 60px;
    border-radius: 20px;
}

.imagePoolSize {
    width: 50vw;
}

.imagePoolSize2 {
    display: none;
}

.body {
    padding-bottom: 4000px;
}

.signUpButton {
    text-decoration: none;
    margin-left: 150px;
    background-color: rgba(96, 160, 239, 1);
    border-radius: 20px;
    color: white;
    transition: 0.5s;
    width: 200px;
}

.signUpButton:hover {

    background-color: rgb(47, 123, 217);
    color: white;
    transform: translateY(-5px);
}

#provider {
    display: block;
    margin-left: 130px;
    text-decoration: none;
    margin-top: 5px;
    color: rgba(96, 160, 239, 1);
    font-weight: bold;
}

#provider:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px){

    .col{
        width: 80vw;
    }

    .signUpButton {        
        width: 40%;
        margin-left: 25vw;
    }

    #provider {  
        margin-top: 0.5rem;
    }

    .formHalf{
        width: 100%;
    }

    .fullScreen{
        width: 100%;
    }

    .imagePoolSize {
        display: none;
    }

    .imagePoolSize2{
        display: inline;
        margin-left: 10vw;
    }

    label {
        margin-top: 60px;
        color: rgba(96, 160, 239, 1);
        font-size: 1.00rem;
    }
}