{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Tracking Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'ClientTracking.css' %}" />
</head>
<body>
    <div class="navbar">
      <div class="navbar-link" id="homelink">
        <a href="{% url 'homepage' %}">
            <img src="{% static 'pool-clean-logo.png' %}" class="logo-image" alt="LOGO" style="width: 100px; height: 100px;">
        </a>
      </div>  
      <div class="navbar-links" id="links">
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'providersearch' %}">Providers</a>
        <a href="{% url 'messaging' %}">Messages</a>
        <a href="{% url 'paymenthistory' %}">Payment</a>
        <!--<a href="#map">Map</a>-->
        <a href="{% url 'info' %}">Appointments</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'clientSettings' %}" class="account-name">
          {{ client.fname }} {{client.lname}}</a
        >
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        <span class="navbar-toggler-icon"></span>
      </a>
    </div>

    <div class="container mt-4 my-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Welcome to Pool Clean Pro</h5>
                <p class="card-text">
                    {% if appointment_list|length > 0 %}
                        {% for appointment in appointment_list %}
                            <div>Your next appointment is {{ appointment.appdate }}, {{ appointment.apptime }}<br></div>
                        {% endfor %}
                    {% else %}
                        No appointment details available.
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid main-container mt-3 my-3">
        <div class="row">
            <!-- Task List Column (left-hand side) -->
            <div class="col-md-6" >
                <div class="container-fluid" id="tasksContainer">
                    {% if task_list|length > 0 %}
                        <ul class="list-unstyled">
                            {% for task in task_list %}
                                <li class="task"  style="margin-top: 30px; margin-bottom: 30px;" >
                                    <div class="task-details">
                                        <span class="task-title" style="font-weight: bold;">{{ task.taskname }}</span>
                                        <div id="updated-at-{{ forloop.counter }}" style="display: none;">
                                            <strong>Time of Update:</strong> {{ task.updated_at|date:"D, d M Y H:i:s" }}<br />
                                        </div>
                                        <div class="description">
                                      <p> <b>Description:</b> {{ task.description }}</P>  
                                        </div>
                                        <div class="status-text">
                                            <span class="{% if task.status == 'y' %}status-complete{% else %}status-in-progress{% endif %}">
                                                {{ task.get_status_display }}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            You don't have any upcoming appointments.
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Technician and Map Column (right-hand side) -->
            <div class="col-md-6">
                <div
                  class="technician-greeting d-none d-md-flex align-items-center"
                >
                  <div class="col-2 p-0">
                    <img
                      src="{% static 'profile.jpg' %}"
                      alt="Technician"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-9">
                    <p class="name-text">{{ company.company_name }}</p>
                    <p class="status-text">
                      Destination Status<button
                        class="dropdown-toggle ms-1"
                      ></button>
                    </p>
                  </div>
                </div>
                <div class="map-container d-none d-md-block mt-3">
                  <iframe
                    src="https://www.google.com/maps?q=Sacramento,CA&output=embed"
                    width="100%"
                    height="500vh"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                  ></iframe>
                </div>
              </div>

    <div class="footer">
      <a href="{% url 'about' %}">About Us</a>
      <a href="#terms">Terms of Use</a>
      <a href="#contact">Contact</a>
      <a href="#email-signup">Email Signup</a>
      <a href="#socials">Socials</a>
      <a href="#instagram">Instagram</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'ClientTracking.js' %}"></script>
  </body>
  <script>
    function myFunction() {
      var x = document.getElementById("links");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
        var y = document.getElementById("name")
        y.style.display = "none";
        }
      }     
  </script>  
</html>