<div id="details"></div>
<script>
    var reqcount = 0;

    navigator.geolocation.watchPosition(successCallback, errorCallback, options);

    function successCallback(position) {
        const { accuracy, latitude, longitude, altitude, heading, speed } = position.coords;
        // Show a map centered at Latitude/ Longitude.
        reqcount++;
        details.innerHTML = "Accuracy: " +accuracy+ "<br>";
        details.innerHTML += "Latitude: " +latitude+ "\n Longitude: " +longitude+ "<br>";
        details.innerHTML += "Altitude: " +altitude+ "<br>";
        details.innerHTML += "Heading: " +heading+ "<br>";
        details.innerHTML += "Speed: " +speed+ "<br>";
        details.innerHTML += "Reqcount: " +reqcount+ "<br>";
    } 
    function errorCallback(error) {

    }

    var options = {
        enableHighAccuracy: false,
        timeout: 5000,
        maximumAge: 0
    };
</script>