.navbar {
    background-color: rgba(215, 233, 255, 1);
    color: white;
    font-size: 20px;
    transition: 0.6s;
}

.nav-item:hover {
    background-color: rgba(96, 160, 239, 1);
    border-radius: 20px;
}

.rightButton {
    border-radius: 20px;
    background-color: rgba(96, 160, 239, 1);
    border-color: rgba(96, 160, 239, 1);
    color: white;
    margin-left: 1100px;
    width: 180px;
    border: 0px;
    font-size: large;
    font-family: 'Lato', sans-serif;
    transition: 0.6s;
}

.rightButton:hover {
    background-color: white;
    color: rgba(96, 160, 239, 1);
    border-radius: 25px;
    cursor: pointer;
}


.upperContainer {
    display: flex;
    background-color: rgba(215, 233, 255, 1);
    color: white;
    font-family: 'Inria Serif', serif;
    font-size: 70px;
    align-items: center;
    height: 600px;
    margin-bottom: 0px;
}

p {
    margin-left: 60px;
}


img {
    width: 600px;
}

.navigationButton {
    background-color: rgba(96, 160, 239, 1);
    border-color: rgba(96, 160, 239, 1);
    color: white;
    width: 550px;
    border: 0px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    margin-left: 90px;
    height: 90px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 13px;
    transition: 0.6s;
    padding-left: 20px;
    padding-right: 20px;
}



.navigationButton:hover {
    cursor: pointer;
    background-color: white;
    color: rgba(96, 160, 239, 1);
    border-radius: 25px;

}

.getStarted {

    height: 70px;
    background-color: rgba(215, 233, 255, 1);

}


#services {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inria Serif', serif;
    color: rgba(150, 195, 250, 1);
    margin-top: 80px;
    font-size: 60px;
    margin-bottom: 70px;
}

h2 {
    color: rgba(150, 195, 250, 1);
    font-family: 'Inria Serif', serif;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 15px;
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
}


.insideInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 35px;
    overflow: hidden;
    max-height: 40em;
    max-width: 25em;

}

.footer {
    background-color: rgba(215, 233, 255, 1);


}

.content {
    background-color: rgba(215, 233, 255, 1);
    color: white;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    justify-content: end;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 8px;
}

a:hover {
    color: rgba(96, 160, 239, 1);
}

.footerInfo {

    display: flex;
    justify-content: space-around;
    padding: 15px;


}