<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static "LoginPage.css" %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <div class="container">
        <form action="" class="form">

            <h2>Login</h2>

            <input type="email" name="email" placeholder="Email Address" class="inputingText" required>
            <input type="password" name="password" placeholder="Password" class="inputingText" id="lowerInput" required>
            <input type="submit" value="Login as a client" id="submit" class="buttons">
            <input type="submit" value="Login as a Provider" id="submit" class="buttons">

        </form>



        <div class="side">

            <h2>Welcome <br> Don't have an account already?</h2>

            <img src="{% static "LoginImage.png" %}" alt="">
            <a href="{% url 'clientsignup' %}" id="provider">Sign Up</a>

        </div>



    </div>
</body>

</html>