<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ProviderSignup.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">

    <title>Sign Up as a Provider</title>
  </head>
  <body>
    <div class="hero">
      <div class="form-box">

        <h0>Create your account as a provider</h0>

        <form id="signup" class="input-group">
            <h2>Full Name</h2>
            <input type="text" class="input-field" placeholder="e.g. John. E Tess" >
        </form>

        <form id="signup" class="input-group">
            <h2>Company Address</h2>
            <input type="text" class="input-field" placeholder="e.g. 4402 Example Street">
        </form>
        
        <form id="signup" class="input-group">
            <h2>Company Email</h2>
            <input type="text" class="input-field" placeholder="e.g. example@hotmail.gov">
        </form>

        <form id="signup" class="input-group">
            <h2>Company Phone Number</h2>
            <input type="text" class="input-field" placeholder="e.g. 494-335-8247">
        </form>

        <form id="signup" class="input-group">
            <h2>Password</h2>
            <input type="password" class="input-field" placeholder="*******">
        </form>

        <form id="signup" class="input-group">
            <h2>Re-Enter Password</h2>
            <input type="password" class="input-field" placeholder="Re-Enter Password">
        </form>
        <form id="signup" class="submit-group">
            <button type="submit" class="submit-btn">Sign Up</button>
        </form>
            
            
        
        
      </div>
    </div>



  </body>
</html>