<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'ResultsPage-1.css' %}">


</head>

<body class="contentOfConent">
    <nav class="navbar sticky-bottom  navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
            <form class="d-flex" role="search" action="{% url 'providersearch' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"
                    value="{{ search_term }} ">
                <button class="btn btn-outline-success" type="submit" id="Search">Search</button>
            </form>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dailycalendar' %}">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'paymenthistory' %}">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'providertracking' %}">Map</a>
                    </li>
                    <li class="nav-item" id="nameOfUser">
                        <a class="nav-link" href="#">Name</a>
                    </li>

                    </li>

                </ul>

            </div>
        </div>
    </nav>

    {% if search_term %}

    {% if info %}

    <h2> Showing {{ count_results }} results</h2>

    <script>
        // Iterate based on matched info from the database
        const companies = [
            {% for company in info %}
        { "name": "{{ company.company_name }}", "location": "{{ company.company_address }}", "phoneNumber": "{{ company.company_phone }}", "email": "{{ company.company_email }}" }
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
        ];

        companies.forEach(company => {
            // Creating elements using HTML literals
            const mainContainer = document.createElement('div');
            mainContainer.innerHTML = `
                <div class="resultsOfSearch">
                    <div class="infoOfCompany">
                        <p class="nameOfCompany">${company.name}</p>
                        <p class="nameOfStreet">${company.location}</p>
                        <p class="Phonenumber">${company.phoneNumber}</p>
                        <p class="email">${company.email}</p>
                    </div>
                    <div class="plusSign">
                        <a class="plusItself">+</a>
                    </div>
                </div>
                <hr>
            `;

            // Append the mainContainer to the body or another container
            document.body.appendChild(mainContainer);
        });
    </script>
    {% else %}
    <h2>No results found for that location, search for other locations.</h2>
    {% endif %}



    {% else %}

    <h2>Search your location to see providers that are near!</h2>


    {% endif %}




    <h2 id="numberResults"></h2>

    <script src="ResultsPage.js"></script>
</body>

</html>