{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'viewInfo.css' %}" />
  </head>

  <body>
    <a href="{% url 'clienttracking' %}" class="home-button">
        <button>&larr; Back</button>
      </a>
    <h1>Appointments</h1>
    <div class="box">
      <b>Upcoming Appointments: </b>
      <ul id="appointments-list">
        {% for appointment in appointments %}
        <li>
          
The provider will be coming on {{ appointment.appdate }} at an
        estimated time of {{ appointment.apptime }}</li>{% endfor %}</ul></div>

    <div class="box">
      <b>Past Appointments: </b>
      <ul id="oldappointments-list">
        {% for oldAppointment in oldAppointments %}
        <li>- Appointment is completed at {{ oldAppointment.appdate }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>