{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'viewInfo.css' %}">
</head>

<body>


    <h1>Appointments</h1>
    <div class="box">
        <ul id="appointments-list">
            {% for appointment in request.session.appointments %}
            <li>- The provider will be coming on {{ appointment.appdate }} at an estimated time of
                {{ appointment.apptime}}
            </li>
            {% endfor %}
        </ul>

    </div>
</body>

</html>